
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: linear-gradient(to right, #ffe6cc, #ffb3e6);
}

a {
  text-decoration: none;
  color: #ef7070;
  font-weight: bold;
  margin: 0 20px;

}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 15px;
}

nav {
  background-color: #f46f65;;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  text-align: center;
  margin: 0;
}

nav ul li a {
  color: black;
  font-size: 18px;
}

nav ul li img {
  vertical-align: middle;
}

/* Main Content Area */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.text-section {
  flex: 1;
  width: 50%;
}

.text-section h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.text-section p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align:center;
}

.text-section .btn {
  display: inline-block;
  background-color: #f46f65;
  color: white;
  text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 10px;
}

.image-section {
  flex:2.5px;
  width: 50%;
  display:flex;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.image-section img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Image Section */
.image {
  display: flex;
  margin: 50px 0;
  justify-content: space-between;
    padding: 30px;
  /* background-color: #fff; */
}

.grid-section {
  flex: 1;
  padding: 20px;
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 50%;
}

.grid-section img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 10px;
}

.msg-section {
  flex: 1;
  /* background-color: #f7f7f7; */
  width: 50%;
  /* padding: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.msg-section .text-sections {
  /* text-align: center; */
  padding: 25px;
    background-color: #f46f65;
    color:black;
    text-align:center;
    width: 500px;
    height: 200px;
    font-size:xx-large;
    letter-spacing:0.5em;

}

.msg-section p {
  font-size: 18px;
  /* color: #999; */
  text-align: center;
}

.msg-section h1 {
  font-size: 36px;
  text-align: center;
  /* color: #333; */
}

.msg-section a {
  display: inline-block;
  margin-top: 20px;
  font-size: 24px;
  color:black;
  font-weight: bold;
  text-decoration: none;
}
